{% extends 'core/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/my-account.css' %}?v={{ random_number }}"> 
{% endblock %}

{% block content %}


<div class="section-account">
    <div class="container-account">

        <div class="account-card">
            <div class="account-header"> ВАШ АККАУНТ </div>

            <div class="account-content">
                <img class="profile-img" src="{% static './assets/img/profile.png' %}" alt="">
            
                <div class="account-data-content">
                    <div class="account-data">
                        <div>Логин: </div>
                        <div>{{ username }}</div>
                    </div>
                    <div class="account-data">
                        <div>Email: </div>
                        <div>{{ email }}</div>
                    </div>

                    <div class="account-password">
                        Для смены пароля:
                    </div>

                    <div class="passwd">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="password" id="old_password" class="form-control" name="cpwd" placeholder="Старый пароль" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="npwd" id="pas" placeholder="Новый пароль" required onkeyup="check_pass()">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="cpas" placeholder="Подтверждение пароля" required onkeyup="check_pass()">
                            </div>
                            <div>
                            {% if msz %}
                                <div class="alert {{col}}">{{msz}}</div>
                            {% endif %}
                            </div>
                            <button type="submit" class="sumbit-btn" id="change_password_button" value="Change Password" id="sbbtn">Подтвердить</button>
                            
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>



{% endblock %}

{% block script %}
<script>
    function check_pass(){
        let p = $("#pas").val();
        let cp = $("#cpas").val();
        
        if(p==cp){
            $("#pas").css("border","1px solid green");
            $("#cpas").css("border","1px solid green");
            $(".sumbit-btn").removeAttr("disabled");
        }else{
            $("#pas").css("border","1px solid red");
            $("#cpas").css("border","1px solid red");
            $(".sumbit-btn").attr("disabled","disabled");
        }
    }
</script>
{% endblock %}