{% extends 'core/base.html' %}
{% load static i18n %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/sign-up.css' %}?v={{ random_number }}"> 
{% endblock %}

{% block content %}

<div class="section-sign-up">
    <div class="container-sign-up">
        <img class="register-img" src="{% static './assets/img/register/register.png' %}" alt="register-img">

        <div class="register-form">

            <div>
                <div class="registration-header">
                    {% trans 'РЕГИСТРАЦИЯ' %}
                </div>

                <div class="line"></div>

                <form action="" method="post">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <input type="text" required name="username" placeholder="Username">    
                    </div>
                    <div class="form-group">
                        <input type="text" required name="email" placeholder="Email">    
                    </div>
                    <div class="form-group">
                        <input required type="password" id="password1" name="password1" placeholder="Password" required onkeyup="check_pass()">
                    </div>
                    <div class="form-group">
                        <input required type="password" id="password2" name="password2" placeholder="Confirmation" required onkeyup="check_pass()">
                    </div>
                    <div>
                        {% if msz %}
                            <div class="alert {{col}}">{{msz}}</div>
                        {% endif %}
                    </div>
                    <div class="btn-container">
                        <button class="submit-btn" type="submit"> {% trans 'Регистрация' %} </button>
                    </div>

                    <div class="have-acc-text">
                        {% trans 'Уже есть аккаунт?' %} <a href="{% url 'userauths:sign-in' %}"> {% trans 'Войдите' %} </a> 
                    </div>
                </form>
            </div>

            
        </div>
        
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function check_pass(){
        let p = $("#password1").val();
        let cp = $("#password2").val();
        
        if(p==cp){
            $("#password1").css("border","2px solid green");
            $("#password2").css("border","2px solid green");
            $(".submit-btn").removeAttr("disabled");
        }else{
            $("#password1").css("border","1px solid red");
            $("#password2").css("border","1px solid red");
            $(".submit-btn").attr("disabled","disabled");
        }
    }
</script>
{% endblock %}