*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body{
  font-family: sans-serif;
  margin-bottom: 154px;
}

header a{
  text-decoration: none;
}

header{
  background: #20bc89;
}

.header-section{
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;

  background: #20bc89;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  padding-bottom: 10px;
  padding-top: 10px;
}

.header-hidden {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}

.header-container{
  display: fixed;
  z-index: 1000;
  width: 1220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-content-of-header{
  display: flex;
  align-items: center;
}

.logo-link {
  display: inline-block;
  width: 100px; 
  height: 100px; 
  overflow: hidden; 
}

.header-logo{
  width: 150px;
  height: 50;
  display: block;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(217deg) brightness(105%) contrast(101%);
}

.header-text{
  color: white;
  font-weight: 600;
}

.dropdown-account{
  position: absolute;
  right: 120px;
  top: 10px;
}

.dropdown-language{
  position: absolute;
  left: 120px;
  top: 10px;
  text-align: center;
  color: white;
  text-decoration: none;
  text-align: left;
  font-weight: 600;
}

.custom-select {
  position: relative;
  display: inline-block;
  background: transparent;
}


.selected-option {
  color: white;
  cursor: pointer;
  padding: 10px;
  text-align: left;
  display: block;
}

.options {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background: #20bc89;
  display: none; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.options li {
  padding: 0;
  transition: box-shadow 0.2s;
  position: relative;
}

.options li:hover {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.options li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  transition: background-color 0.2s;
}

.options li a:hover {
  color: white;
  background: #20bc89;
}

.custom-select.active .options {
  display: block;
}


.language-form {
  display: none; 
}

ul.custom-ul {
  list-style: none;
  background: #20bc89;
  text-align: center;
}

ul.custom-ul ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.custom-ul li {
  display: inline-block;
  position: relative;
}

ul.custom-ul li a {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
}

ul.custom-ul li ul.dropdown li {
  display: block;
}

ul.custom-ul li ul.dropdown {
  width: 100%;
  background: #20bc89;
  position: absolute;
  z-index: 999;
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

ul.custom-ul li a:hover {
  background: #20bc88a1;
  width: 100%;
}

ul.custom-ul li:hover ul.dropdown {
  display: block;
}

.categories-dropdown {
 width: 200px;
 margin-right: 20px;
}

.categories-dropdown .custom-ul{
  margin-bottom: 0;
  padding-left: 0;
}

.categories-dropdown ul.custom-ul li ul.dropdown {
  width: 100%;
}

.categories-dropdown ul.custom-ul li {
  width: 100%;
}

.innerdiv {
  margin-left: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.alert{
  display:inline-block;
}

footer{
  background: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 154px; 
  line-height: 60px;
}

.footer-container{
  margin: 30px 0 100px 0;
  color: hsla(0,0%,100%,.5);
}

.mobile-navbar{
  width: 100%;
  display: none;
}

.burger-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar-toggler {
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: none;
  font-weight: 700;
  color: #fff;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-nav .nav-link {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.mobile-navbar .dropdown-menu {
  min-width: 10rem;
  color: white;
  background-color: transparent;
  border: none;
}

.mobile-navbar .dropdown-item  {
  font-weight: 600;
  color: white;
  width: auto;
}

.mobile-navbar .dropdown-item:focus, .dropdown-item:hover {
  color: #1e2125;
  background-color: #e9ecef;
}

@media (max-width: 1200px) {
  .header-container{
    width: 700px;
    justify-content: center;
  }
  .dropdown-account {
    right: 60px;
  }
  .dropdown-language {
    left: 60px;
  }
}

@media (max-width: 900px) {
  .header-container{
    display: none;
  }
  .mobile-navbar{
    display: block;
  } 
  .header-section{
    padding: 0;
  }
}