*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .body{
    font-family: sans-serif;
  }
  
  header{
    background: #0052ff;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  header a{
    text-decoration: none;
  }
  
  
  .header-sticky{
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .header-hidden {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
  }
  
  .header-container{
    display: fixed;
    z-index: 1000;
    width: 1220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-link {
    display: inline-block;
    width: 100px; 
    height: 100px; 
    overflow: hidden; 
  }
  
  .header-logo{
    width: 150px;
    height: 50;
    display: block;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(217deg) brightness(105%) contrast(101%);
  }
  
  .header-text{
    color: white;
    font-weight: 600;
  }

  footer{
    background: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-container{
    margin: 30px 0 100px 0;
    color: hsla(0,0%,100%,.5);
  }