.section-cart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-cart{
    width: 1220px;
}

.cart-header{
    margin-top: 40px;
    color: #222;
    font-size: 1.25em;
    font-weight: 700;
}

.cart-empty{
    text-align: center;
    margin: 40px auto;
    color: #222;
    font-size: 1.25em;
    font-weight: 700;
}

.btn-empty{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.btn-empty a{
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    background: rgb(32,188,137);
    background: -moz-linear-gradient(90deg, rgba(32,188,137,1) 0%, rgba(82,109,178,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(32,188,137,1) 0%, rgba(82,109,178,1) 100%);
    background: linear-gradient(90deg, rgba(32,188,137,1) 0%, rgba(82,109,178,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#20bc89",endColorstr="#526db2",GradientType=1); 
    text-decoration: none;
    width: 350px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background-size: 200%;
    transition: .5s;
    border: none;
}

.btn-empty a:hover{
    text-decoration: none;
    background-position: right;
}

.cart-order{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-container{
    width: 100%;
    margin: 20px auto 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #20bc89;
    font-weight: 600;
}
td{
    color: #222;
    padding: 10px 5px;
}

.item-info{
    margin-left: 10px;
    font-size: 1.25em;
    font-weight: 600;
}

.item-info a{
    text-decoration: none;
    color: #1736c5;
}

.item-info a:hover{
    color: #455ed1;
    cursor: pointer;
}

.wrapper{
    height: 40px;
    width: 100px;
}

.total-container{
    display: flex;
    justify-content: flex-end;
}

.total-container table{
    border-top: 3px solid #20bc89;
    width: 100%;
    max-width: 350px;
}

td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

.order-btn {
    text-align: center;
    font-size: 20px;
    color: #fff;
    background: rgb(32,188,137);
    background: -moz-linear-gradient(90deg, rgba(32,188,137,1) 0%, rgba(82,109,178,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(32,188,137,1) 0%, rgba(82,109,178,1) 100%);
    background: linear-gradient(90deg, rgba(32,188,137,1) 0%, rgba(82,109,178,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#20bc89",endColorstr="#526db2",GradientType=1); 
    text-decoration: none;
    width: 100%;
    height: 40px;
    background-size: 200%;
    transition: .5s;
    border: none;
    display: inline-block;
  }
  
  .order-btn:hover {
    color: #fff;
    background-position: right;
  }
  
.remove_from_cart{
    all:unset
}