.section-checkout{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-checkout{
    width: 1220px;
    margin-bottom: 40px;
}

.checkout-header{
    margin: 40px 0;
    color: #222;
    font-size: 1.6em;
    font-weight: 700;
    text-align: center;
}

.checkout-content{
    display: flex;
    justify-content: center;
}

.left-content-checkout{
    width: 690px;
    margin-bottom: 25px;
}

.decor-line{
    width: 100%;
    height: 2px;
    background: #2222222d;
}

.order-header{
    font-size: 1.1em;
    font-weight: 700;
    color: #262626;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.order-details{
    color: #262626;
    font-size: .9em;
    font-weight: 600;
}

.input-mail{
    width: 100%;
    height: 38px;
}

.input-group{
    padding: 5px 10px 1rem 10px !important;
}

.input-group:focus{
    box-shadow: 0 0 5px #ccc;
}

#text-area-detail{
    height: 120;
}

.right-content-checkout{
    width: 530px;
    height: auto;
    display: flex;
    justify-content: center;
}

.inner-border{
    width: 90%;
    border-color: #0052ff;
    border-width: 2px;
    border-style: solid;
    padding: 25px;
}

.table-container{
    margin: 25px 0;
}

table {
    border-collapse: collapse; 
    width: 100%; 
}

table thead tr{
    color: #fff;
    background: #0051ff;
}

th, td {
  padding: 5px; 
  text-align: left; 
  font-weight: 600;
  font-size: 1.1em;
}

tr:nth-child(even) {
  background-color: #f2f2f2; 
}

td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

tfoot{
    font-size: 0.9em;
}

.item-info{
    padding: 5px 0;
    width: 300px;
    font-size: 0.9em;
}

.item-header{
    color: hsl(0, 0%, 30%);
}

.item-country{
    color: hsla(0, 0%, 30%, 0.365);
}

.crypto-text{
    color: #222;
}

.crypto-header-text{
    font-size: .9em;
    font-weight: 700;
    margin-bottom: .4em;
    display: inline;
}

.crypto-text small{
    font-weight: 500;
    display: inline;
    color: #515151;
}

.bottom-btns{
    display: flex;
    justify-content: space-between;
}

.create-order-btn {
  text-align: center;
  font-size: 20px;
  color: #fff;
  background: linear-gradient(90deg, rgba(0,82,255,1) 0%, rgba(0,212,255,1) 100%);;
  text-decoration: none;
  width: 40%;
  height: 40px;
  background-size: 200%;
  transition: .5s;
  border: none;
  display: inline-block;
}

.create-order-btn:hover {
  color: #fff;
  background-position: right;
}
