.section-1{
    background: #0052ff;
    display: flex;
    justify-content: center;
  }
  
  .container-1{
    margin-top: 100px;
    margin-bottom: 50px;
    width: 1220px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .crypto-text-top{
    color: white;
    font-weight: 700;
    font-size: 36px;
    width: 450px;
  }
  
  .crypto-image{
    max-width: 60%;
    height: 200px;
  }
  
  .decoration-element{
      background-color: #0052ff;
      width: auto;
      height: 100px;
      clip-path: polygon(0 0, 100% 0, 0 100%);
  }
  
  .section-2{
    display: flex;
    justify-content: center;
  }
  
  .container-2{
    margin-top: 100px;
    margin-bottom: 50px;
    width: 1220px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .block-content-review{
    margin: auto;
    text-align: center;
  }
  
  .content-review-img{
    max-width: 60%;
    height: 200px;
  }
  
  .header-review-text{
    margin-top: 25px;
    color: #262626;
    font-weight: 800;
    font-style: normal;
    font-size: 1.25em;
  }
  
  .text-review-content{
    width: 350px;
    color: #515151;
    font-weight: 600;
    font-style: normal;
    font-size: 1em;
    line-height: 1.3;
  }
  
  .section-3{
    display: flex;
    justify-content: center;
  }
  
  .container-3{
    margin: 100px 0;
    width: 1220px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .column{
    text-align: center;
    box-sizing: border-box;
  }
  
  .column-header{
    position: relative;
    text-align: center;
    margin: 0 15px;
    color: #262626;
    font-weight: 800;
    font-size: 1.25em;
    font-style: normal;
    text-rendering: optimizeSpeed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .line-near-text{
    margin: auto 5px;
    height: 2px;
    width: 55px;
    background: rgba(38, 38, 38, 0.15);
  }
  
  .shop-item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    line-height: 1.3;
  }
  
  .item-header{
    color: #0052ff;
    font-weight: 600;
    font-style: normal;
  }
  
  .item-header:hover {
    color: #003ab7;
    cursor: pointer;
  }
  
  .item-price{
    color: #111;
    font-weight: 700;
    white-space: nowrap;
  }
  
  .view-all-btn {
    font-size: 20px;
    color: #fff;
    background: linear-gradient(90deg, rgba(0,82,255,1) 0%, rgba(0,212,255,1) 100%);;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 10px;
    background-size: 200%;
    transition: .5s;
    border: none;
    display: inline-block;
  }
  
  .view-all-btn:hover {
    background-position: right;
  }