.item-card{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background: rgba(143, 143, 143, 0.11);
    margin: 20px;
    box-shadow: 1px 5px 10px rgba(0, 9, 60, 0.3);
  }
  
  .item-card:hover{
    box-shadow: 1px 1px 10px black;
  }
  .show-case-item{
    width: 214px;
    margin: 10px auto;
  }
  
  .show-case-img{
    width: 214px;
    height: auto;
  }
  
  .show-case-category{
    margin-bottom: .1em;
    margin-top: .1em;
    opacity: .7;
    font-size: .75em;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: 600;
    color: #515151;
  }

  .show-case-category:hover{
    cursor: pointer;
    color: #383838;
  }
  
  .show-case-item-name{
    line-height: 1.3;
    margin-bottom: .1em;
    margin-top: .1em;
    font-weight: 600;
    font-style: normal;
    font-size: .9em;
    color: #0052ff;
    cursor: pointer;
  }
  
  .show-case-item-name:hover{
    color: #003ab7;
  }