.section-item{
    display: flex;
    justify-content: center;
}

.container-item{
    width: 1220px;
    margin-bottom: 120px;
    margin-top: 50px;
    display: flex;
}

.item-price-text{
    color: #111;
    font-weight: 700;
    white-space: nowrap;
    font-size: 1.5em;
    line-height: 1;
    font-style: normal;
}
.item-picture-bigger{
    width: 600px;
    height: 600px;
}
.item-text{
    width: 555px;
}
.category-name{
    font-size: .85em;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    color: hsla(0,0%,40%,.7);
}
.category-name:hover{
    color: black;
    cursor: pointer;
}
.item-name{
    font-weight: 800;
    font-style: normal;
    color: #262626;
    line-height: 1.3;
    font-size: 1.7em;
    margin-bottom: .5em;
    margin-top: 0;
    width: 100%;
}
.item-description{
    margin-top: 30px;
    margin-left: 1.3em;
    margin-bottom: .6em;
    font-weight: 600;
    font-style: normal;
    font-size: 100%;
    color: #515151;
    line-height: 1.6;
}
.item-action{
    color: #222;
    font-size: .9em;
    font-weight: 700;
}
.item-action-add-to-card{
    display: flex;
    justify-content: left;
    margin-top: 10px;
}

.to-cart-btn{
    color: #fff;
    background: #0052ff;
    text-decoration: none;
    padding: 15px 43px;
    background-size: 200%;
    transition: .5s;
    border: none;
    display: inline-block;
    font-size: 1.25em;
    margin-right: 0;
    font-weight: 600;
}

.to-cart-btn:hover{
    box-shadow: inset 0 0 0 100px rgba(0,0,0,.2);
    color: #fff;
    opacity: 1;
    outline: none;
}

.category-header{
  color: #222;
  font-weight: 700;
  letter-spacing: 0;
  padding: 0;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 1.15em;
  margin: 20px 0;
}

.section-items{
  display: flex;
  justify-content: center;
}

.container-items{
  width: 1220px;
  margin-bottom: 120px;
}

.show-case{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.qty-btn-fields{
    display: flex;
    justify-content: space-between;
    align-items: center;
}