*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body{
  font-family: sans-serif;
}

header{
  background: #0052ff;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  padding-bottom: 10px;
  padding-top: 10px;
}

header a{
  text-decoration: none;
}


.header-sticky{
  position: sticky;
  top: 0;
  z-index: 999;
}

.header-hidden {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}

.header-container{
  display: fixed;
  z-index: 1000;
  width: 1220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: inline-block;
  width: 100px; 
  height: 100px; 
  overflow: hidden; 
}

.header-logo{
  width: 150px;
  height: 50;
  display: block;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(217deg) brightness(105%) contrast(101%);
}

.header-text{
  color: white;
  font-weight: 600;
}

.section-1{
  background: #0052ff;
  display: flex;
  justify-content: center;
}

.container-1{
  margin-top: 100px;
  margin-bottom: 50px;
  width: 1220px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.crypto-text-top{
  color: white;
  font-weight: 700;
  font-size: 36px;
  width: 450px;
}

.crypto-image{
  max-width: 60%;
  height: 200px;
}

.decoration-element{
    background-color: #0052ff;
    width: auto;
    height: 100px;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

.section-2{
  display: flex;
  justify-content: center;
}

.container-2{
  margin-top: 100px;
  margin-bottom: 50px;
  width: 1220px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.block-content-review{
  margin: auto;
  text-align: center;
}

.content-review-img{
  max-width: 60%;
  height: 200px;
}

.header-review-text{
  margin-top: 25px;
  color: #262626;
  font-weight: 800;
  font-style: normal;
  font-size: 1.25em;
}

.text-review-content{
  width: 350px;
  color: #515151;
  font-weight: 600;
  font-style: normal;
  font-size: 1em;
  line-height: 1.3;
}

.section-3{
  display: flex;
  justify-content: center;
}

.container-3{
  margin: 100px 0;
  width: 1220px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.column{
  text-align: center;
  box-sizing: border-box;
}

.column-header{
  position: relative;
  text-align: center;
  margin: 0 15px;
  color: #262626;
  font-weight: 800;
  font-size: 1.25em;
  font-style: normal;
  text-rendering: optimizeSpeed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-near-text{
  margin: auto 5px;
  height: 2px;
  width: 55px;
  background: rgba(38, 38, 38, 0.15);
}

.shop-item{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  line-height: 1.3;
}

.item-header{
  color: #0052ff;
  font-weight: 600;
  font-style: normal;
}

.item-header:hover {
  color: #003ab7;
  cursor: pointer;
}

.item-price{
  color: #111;
  font-weight: 700;
  white-space: nowrap;
}

.view-all-btn {
  font-size: 20px;
  color: #fff;
  background: linear-gradient(90deg, rgba(0,82,255,1) 0%, rgba(0,212,255,1) 100%);;
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 10px;
  background-size: 200%;
  transition: .5s;
  border: none;
  display: inline-block;
}

.view-all-btn:hover {
  background-position: right;
}

footer{
  background: #1c1c1c;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container{
  color: hsla(0,0%,100%,.5);
}

.section-items{
  display: flex;
  justify-content: center;
}

.container-items{
  width: 1220px;
  margin-bottom: 120px;
}

.category-header{
  color: #222;
  font-weight: 700;
  letter-spacing: 0;
  padding: 0;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 1.15em;
  margin: 20px 0;
}

.show-case{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item-card{
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background: rgba(143, 143, 143, 0.11);
  margin: 20px;
  box-shadow: 1px 5px 10px rgba(0, 9, 60, 0.3);
}

.item-card:hover{
  box-shadow: 1px 1px 10px black;
}
.show-case-item{
  width: 214px;
  margin: 10px auto;
}

.show-case-img{
  width: 214px;
  height: auto;
}

.show-case-category{
  margin-bottom: .1em;
  margin-top: .1em;
  opacity: .7;
  font-size: .75em;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 600;
  color: #515151;
}

.show-case-item-name{
  line-height: 1.3;
  margin-bottom: .1em;
  margin-top: .1em;
  font-weight: 600;
  font-style: normal;
  font-size: .9em;
  color: #0052ff;
  cursor: pointer;
}

.show-case-item-name:hover{
  color: #003ab7;
}

.section-item{
  display: flex;
  justify-content: center;
}

.container-item{
  width: 1220px;
  margin-bottom: 120px;
  margin-top: 50px;
  display: flex;
}

.item-price-text{
  color: #111;
  font-weight: 700;
  white-space: nowrap;
  font-size: 1.5em;
  line-height: 1;
  font-style: normal;
}

.item-picture-bigger{
  width: 600px;
  height: auto;
  max-height: 600px;
}

.item-text{
  width: 555px;
}

.category-name{
  font-size: .85em;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  color: hsla(0,0%,40%,.7);
}

.category-name:hover{
  color: black;
  cursor: pointer;
}

.item-name{
  font-weight: 800;
  font-style: normal;
  color: #262626;
  line-height: 1.3;
  font-size: 1.7em;
  margin-bottom: .5em;
  margin-top: 0;
  width: 100%;
}

.item-description{
  margin-top: 30px;
  margin-left: 1.3em;
  margin-bottom: .6em;
  font-weight: 600;
  font-style: normal;
  font-size: 100%;
  color: #515151;
  line-height: 1.6;
}

.item-action{
  color: #222;
  font-size: .9em;
  font-weight: 700;
}

.item-action-add-to-card{
  display: flex;
  justify-content: left;
  margin-top: 10px;
}