.section-account{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-account{
    width: 1220px;
    margin: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-card{
    background: #dadada;
    padding: 10px;
    border-radius: 6px;
    width: 60%;

}

.account-header{
    color: #222;
    font-weight: 700;
    font-size: 1.25em;
    text-align: center;
    margin: 15px 0;
}

.account-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.profile-img{
    width: 150px;
    height: 150px;
    margin: 20px;
}

.account-data-content{
    color: #515151;;
    font-weight: 500;
    font-size: 1em;
    margin: 0 50px;
    width: 100%;
}

.account-data{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.account-password{
    margin-bottom: 10px;
}

.passwd{
    width: auto;
    padding: 15px 12px;
    margin-bottom: 5px;
    border: 1px solid #e5e5e5;
    border-bottom: 2px solid #ddd;
    background: rgba(255, 255, 255, 0.2) !important;
    color: #555;
    text-align: center;
}

.form-group input[type="password"],
.form-group textarea {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin-bottom: 10px;
}

.sumbit-btn {
    font-size: 20px;
    color: #fff;
    background: #1d3853;
    text-decoration: none;
    padding: 10px 40px;
    background-size: 200%;
    transition: .5s;
    border: none;
    display: inline-block;
  }
  
  .sumbit-btn:hover {
    background-position: right;
  }