.section-result{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-result{
    width: 1220px;
    margin: 120px 0;
    text-align: center;
}

.result-header-text{
    color: black;
    font-weight: 700;
    font-size: 2.5em;
    margin: 30px 0;
}

.container-result a{
    font-size: 1.5em;
    color: #fff;
    background: linear-gradient(90deg, rgba(0,82,255,1) 0%, rgba(0,212,255,1) 100%);;
    text-decoration: none;
    width: 170px;
    height: 40px;
    background-size: 200%;
    transition: .5s;
    border: none;
    display: inline-block;
}

.create-order-btn:hover {
    color: #fff;
    background-position: right;
  }