{% extends 'core/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/item-qty.css' %}?v={{ random_number }}"> 
<link rel="stylesheet" href="{% static 'assets/css/cart.css' %}?v={{ random_number }}"> 
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock %}

{% block content %}

<div class="section-cart">
    <div class="container-cart">
      {% csrf_token %}
    
      {% if cart_items_exist %}

      <div class="cart-header">
        Ваша корзина:
      </div>

      <div class="cart-order">

        <div class="table-container"> 
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Товар</th>
                <th>Количество</th>
                <th>Итого</th>
              </tr>
            </thead>
            <tbody>
              {% for cart_item in cart_items %}
              <tr id="cart-item-{{ cart_item.id }}">
                <td>

                  <form method="post" action="/remove-from-cart">
                    {% csrf_token %}

                    <input type="hidden" value="{{ cart_item.id }}" class="cart_item_id">

                    <button type="submit" class="remove_from_cart">
                      <span  class="material-symbols-outlined">
                        delete
                      </span>
                    </button>
                  </form>
                  
                </td>
                <td>
                  <div class="cart-info">
                    <img width="100px" height="100px" src="{{ cart_item.image.url }}" alt="">
                    <div class="item-info">
                      <p> <a href="{% url 'core:item' pid=cart_item.product.pid %}"> {{ cart_item.product.title }} </a> </p>
                      <small> {{cart_item.country }} </small> <br>
                      <small>Цена:  {{ cart_item.product.price }}  $</small>
                    </div>
                  </div>
                  
                </td>
                <td>
                  <div class="wrapper">
                    <span class="minus">-</span>
                    <span class="num" id="{{ cart_item.id }}">{{ cart_item.quantity }}</span>
                    <span class="plus">+</span>
                  </div>
                </td> 
                <td>
                  <div class="item-info" id="total-item-{{ cart_item.id }}">
                    {{ cart_item.total_price }}$  
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <div class="total-container">
            <table>
              <tr>
                <td>Подытог</td>
                <td id="pretotal-price">{{cart.total_price}}</td>
              </tr>
              <tr>
                <td>Итого</td>
                <td id="total-price">{{cart.total_price}}</td>
              </tr>
              <tr>
                <td colspan="2">
                  <a href="{% url 'core:checkout' %}" class="order-btn">Оформить заказ</a>
                </td>
              </tr>
            </table>
          </div>
        </div>

      </div>

      {% else %}
      
      <div class="cart-empty">
        Ваша корзина пуста
      </div>

      <div class="btn-empty">
        <a href="{% url 'core:home' %}" class="to-shop"> В магазин </a>
      </div>

      {% endif %}
    </div>
          
    </div>
</div>

{% endblock %}


{% block script %}

<script>
  var is_authenticated = {% if is_authenticated %}true{% else %}false{% endif %};
</script>

<script src="{% static './assets/js/functions.js' %} {{ random_number }}"></script>
<script type="text/javascript" src=/path.js?<?=$cur_time;?>"></script>
{% endblock %}