{% extends 'core/base.html' %}
{% load static i18n %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/dropdown-item.css' %}?v={{ random_number }}">
<link rel="stylesheet" href="{% static 'assets/css/checkout.css' %}?v={{ random_number }}"> 
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
{% endblock %}

{% block content %}

<div class="section-checkout">
    <div class="container-checkout">
    
      {% if cart_items_exist %}

      <div class="checkout-header">
        {% trans 'Информация о заказе' %}
      </div>

      <div class="checkout-content">
        <div class="left-content-checkout">
            <div class="decor-line"></div>

            <div class="order-header">
                {% trans 'Детали заказа' %}
            </div>
            <div class="order-details">
                <div>
                    {% trans 'Email-адрес*' %}
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-describedby="inputGroup-sizing-default" value="{{ user.email }}" id="user-mail">
                </div>
            </div>
            <div class="order-details">
                <div>
                    {% trans 'Примечание к заказу (необязательно)' %}
                </div>
                <div class="input-group">
                    <textarea class="form-control" id="text-area-detail" placeholder="{% trans 'Примечение к вашему заказу' %}"></textarea>
                </div>
            </div>
        </div>

        <div class="right-content-checkout">
            <div class="inner-border">

                <div class="order-header">
                    {% trans 'Ваш заказ' %}
                </div>
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    {% trans 'Товар' %}
                                </th>
                                <th>
                                    {% trans 'Подытог' %}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cart_item in cart_items %}
                            <tr>
                                <th>
                                    <div class="item-info">
                                        <div class="item-header">
                                            {{cart_item.product.title}}
                                        </div>
                                        <div class="item-country">
                                            {{cart_item.country}}
                                        </div>
                                    </div>
                                </th>
                                <th  >
                                    {{cart_item.total_price}} $
                                </th>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th> {% trans 'Итого' %} </th>
                                <th> <span id="order-total"> {{cart.total_price}} </span>$</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <form method="post" action="/payment">
                    <div class="form-div">
                        <div>
                            <div class="crypto-text">
                                <div class="crypto-header-text">
                                    {% trans 'Оплата криптовалютой' %}
                                </div>
                                <div>
                                    <small>
                                        {% trans 'Для некоторых криптовалют включен сервисный сбор.' %} <br>
                                        {% trans 'Его размер напрямую зависит от комиссии блокчейна.' %}
                                    </small>
                                </div>                        
                            </div>
                            <div>
                                <select id="soflow" name="countries" placeholder="{% trans 'Выберите вариант оплаты' %}" required>
                                    <option value="" disabled selected>{% trans 'Выберите вариант оплаты' %}</option>
                                    <option value="1.00">{% trans 'Криптовалюта' %}</option>
                                </select>
                            </div>
                            <div class="bottom-btns">
                                <button class="create-order-btn" id="to-cart-button" type="button">{% trans 'Корзина' %}</button> 
                                {% csrf_token %}
                                <button class="create-order-btn" id="to-payment-button" type="submit">
                                    {% trans 'Подтвердить' %}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
      </div>

      {% else %}
      
      <div class="cart-empty">
        Ваша корзина пуста
      </div>

      <div class="btn-empty">
        <a href="{% url 'core:home' %}" class="to-shop"> В магазин </a>
      </div>

      {% endif %}
    </div>
          
    </div>
</div>

{% endblock %}


{% block script %}
<script src="{% static './assets/js/checkout.js' %}"></script>

<script>
    var redirectButton = document.getElementById('to-cart-button');
  
  redirectButton.addEventListener('click', function() {
    window.location.href = '{% url 'core:cart' %}';
  });
</script>

<script>
  var is_authenticated = {% if is_authenticated %}true{% else %}false{% endif %};
</script>

{% endblock %}