{% extends 'core/base.html' %}
{% load static i18n %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/help.css' %}"> 
{% endblock %}

{% block content %}

<div class="section-help">
    <div class="container-help">
        <img class="help-img" src="{% static 'assets/img/security.png' %}" alt="security-png">
        <div class="help-text">
            <div class="header">
                {% trans 'ТЕХНИЧЕСКАЯ ПОДДЕРЖКА' %}
            </div>
            <div class="description">
                {% trans 'Если у Вас возникли вопросы технического или финансового плана, напишите нам и мы поможем Вам в решении вашего вопроса.' %} <br>
                <br>
                {% trans 'Мы отвечаем на вопросы в течение 15-60 минут, в зависимости от загрузки сервиса.' %}<br>
                <br>
                {% trans 'Почта для технической поддержки пользователей:' %} <br>
                support@company_name.cc <br>
                <br>
                {% trans 'Режим работы службы поддержки: ежедневно с 10:00 до 22:00 (МСК)' %}
            </div>
        </div>
    </div>
</div>



{% endblock %}