{% extends 'core/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/index.css' %}?v={{ random_number }}"> 
{% endblock %}

{% block content %}

<div class="section-1">
  <div class="container-1">
    <div class="crypto-text-top">
      Верифицированные аккаунты платежных систем и крипто платформ
    </div>
    <img class="crypto-image" src="{% static './assets/img/core-img/crypto-2.png' %}" alt="crypto-image">
  </div>
</div>
<div class="decoration-element"></div>
<div class="section-2">
  <div class="container-2">
    <div class="block-content-review">
      <img class="content-review-img" src="{% static './assets/img/core-img/reputation.png' %}" alt="reputation-img">
      <div class="header-review-text">
        Репутация
      </div>
      <div class="text-review-content">
        Наш магазин работает уже несколько лет и имеет хорошую репутацию
      </div>
    </div>
    <div class="block-content-review">
      <img class="content-review-img" src="{% static './assets/img/core-img/trust.png' %}" alt="trust-img">
      <div class="header-review-text">
        Гарантия
      </div>
      <div class="text-review-content">
        Мы предоставляем гарантию на все продаваемые товары
      </div>
    </div>
    <div class="block-content-review">
      <img class="content-review-img" src="{% static './assets/img/core-img/professional.png' %}" alt="professional-img">
      <div class="header-review-text">
        Профессионализм
      </div>
      <div class="text-review-content">
        Наша команда профессионалов всегда готова помочь и ответить на все вопросы
      </div>
    </div>
  </div>
</div>
<div class="section-3">
  <div class="container-3">
    <div class="column">
      <div class="column-header">
        <div class="line-near-text"></div>
        Платежные системы
        <div class="line-near-text"></div>
      </div>
      <div class="shop-item">
        <img class="item-picture" src="{% static './assets/img/core-img/pyypl-100x100.jpg' %}" alt="">
        <div>
          <div class="item-header">
            Пример товара
          </div>
          <div class="item-price">
            $19.00
          </div>
        </div>
      </div>
      <div class="shop-item">
        <img class="item-picture" src="{% static './assets/img/core-img/pyypl-100x100.jpg' %}" alt="">
        <div>
          <div class="item-header">
            Пример товара
          </div>
          <div class="item-price">
            $19.00
          </div>
        </div>
      </div>
      <div class="shop-item">
        <img class="item-picture" src="{% static './assets/img/core-img/pyypl-100x100.jpg' %}" alt="">
        <div>
          <div class="item-header">
            Пример товара
          </div>
          <div class="item-price">
            $19.00
          </div>
        </div>
      </div>
      <a href="{% url 'core:showcase' %}" class="view-all-btn"> Смотреть все </a>
    </div>
    <div class="column">
      <div class="column-header">
        <div class="line-near-text"></div>
        КриптоПлатформы
        <div class="line-near-text"></div>
      </div>
      <div class="shop-item">
        <img class="item-picture" src="{% static './assets/img/core-img/pyypl-100x100.jpg' %}" alt="">
        <div>
          <div class="item-header">
            Пример товара
          </div>
          <div class="item-price">
            $19.00
          </div>
        </div>
      </div>
      <div class="shop-item">
        <img class="item-picture" src="{% static './assets/img/core-img/pyypl-100x100.jpg' %}" alt="">
        <div>
          <div class="item-header">
            Пример товара
          </div>
          <div class="item-price">
            $19.00
          </div>
        </div>
      </div>
      <div class="shop-item">
        <img class="item-picture" src="{% static './assets/img/core-img/pyypl-100x100.jpg' %}" alt="">
        <div>
          <div class="item-header">
            Пример товара
          </div>
          <div class="item-price">
            $19.00
          </div>
        </div>
      </div>
      <a href="{% url 'core:showcase' %}" class="view-all-btn"> Смотреть все </a>
    </div>
    <div class="column">
      <div class="column-header">
        <div class="line-near-text"></div>
          Прочее
        <div class="line-near-text"></div>
      </div>
      <div class="shop-item">
        <img class="item-picture" src="{% static './assets/img/core-img/pyypl-100x100.jpg' %}" alt="">
        <div>
          <div class="item-header">
            Пример товара
          </div>
          <div class="item-price">
            $19.00
          </div>
        </div>
      </div>
      <div class="shop-item">
        <img class="item-picture" src="{% static './assets/img/core-img/pyypl-100x100.jpg' %}" alt="">
        <div>
          <div class="item-header">
            Пример товара
          </div>
          <div class="item-price">
            $19.00
          </div>
        </div>
      </div>
      <div class="shop-item">
        <img class="item-picture" src="{% static './assets/img/core-img/pyypl-100x100.jpg' %}" alt="">
        <div>
          <div class="item-header">
            Пример товара
          </div>
          <div class="item-price">
            $19.00
          </div>
        </div>
      </div>
      <a href="{% url 'core:showcase' %}" class="view-all-btn"> Смотреть все </a>
    </div>
  </div>
</div>

{% endblock %}