{% extends 'core/base.html' %}
{% load static i18n %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/item.css' %}?v={{ random_number }}"> 
<link rel="stylesheet" href="{% static 'assets/css/item-card.css' %}?v={{ random_number }}">
<link rel="stylesheet" href="{% static 'assets/css/dropdown-item.css' %}?v={{ random_number }}">
<link rel="stylesheet" href="{% static 'assets/css/item-qty.css' %}">
{% endblock %}


{% block content %}

<div class="section-item">
  <div class="container-item">
    <img width="214px" height="214px" class="item-picture-bigger" src="{{ item.image.url }}" alt="product-image">
    <div class="item-text">
      <div class="category-name">
        <a style="all: unset;" href="{% url 'core:category' cat_slug=item.category.slug %}"> {{item.category}} </a>
      </div>
      <div class="item-name">
        {{item.title}}
      </div>
      <div class="item-price-text">
        ${{item.price}}
      </div>
      <div class="item-description">
        {{item.description}}
      </div>

      {% if item.accessories %}
      <div class="item-description">
        {% trans 'Комплект' %}:
        <ul class="item-ul">
          {% for accessory in item.get_accessories_list %}
            <li class="item-li">{{ accessory }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <div class="item-action">
        {% trans 'Страна аккаунта' %}
        
        <form method="post">
          {% csrf_token %}

          <div class="cart-country">
            <select id="soflow" name="countries">
              {% for country in item.countries.all %}
                <option value="{{ country.pk }}">{{country.title}}</option>
              {% endfor %}
            </select>

            <input type="hidden" value="{{item.id}}" class="product-id">
            <input type="hidden" value="{{item.title}}" class="product-title">
            <input type="hidden" value="{{item.price}}" class="product-price">
          
          </div>
          <div class="qty-btn-fields">
            <div class="wrapper">
              <span class="minus">-</span>
              <span class="num">1</span>
              <span class="plus">+</span>
            </div>

            <button type="submit" class="to-cart-btn"> {% trans 'В корзину' %} </button>
          </div>

        </form>
      </div>

      </div>
    </div>
  </div>
</div>

<div class="section-items">
  <div class="container-items">
    <div class="category-header">
      {% trans 'Похожие товары' %}
    </div>

    <div class="show-case">
      {% for product in products|slice:":4" %}
      <div class="item-card">
        <div class="show-case-item">
          <img class="show-case-img" src="{{ product.image.url }}" alt="">
          <div class="show-case-category">
            <a style="all: unset;" href="{% url 'core:category' cat_slug=product.category.slug %}">{{product.category}}</a>
          </div>
          <div class="show-case-item-name">
            <a style="all: unset;" href="{% url 'core:item' item_slug=product.slug %}">{{product.title}}</a>
          </div>
          <div class="item-price">
            {{product.price}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>

{% endblock %}

{% block script %}

<script>
  var currentLanguage = "{{ request.LANGUAGE_CODE }}";
</script>

<script>
  var is_authenticated = {% if is_authenticated %}true{% else %}false{% endif %};
</script>
<script src="{% static './assets/js/main.js' %}?<?=$cur_time;?>"></script>
<script src="{% static './assets/js/functions.js' %}?<?=$cur_time;?>"></script>

{% endblock %}