{% extends 'core/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/item.css' %}?v={{ random_number }}"> 
<link rel="stylesheet" href="{% static 'assets/css/item-card.css' %}?v={{ random_number }}">
<link rel="stylesheet" href="{% static 'assets/css/dropdown-item.css' %}?v={{ random_number }}">
{% endblock %}


{% block content %}

<div class="section-item">
  <div class="container-item">
    <img class="item-picture-bigger" src="{% static './assets/img/blackcatcard-600x566.jpg' %}" alt="">
    <div class="item-text">
      <div class="category-name">
        Категория
      </div>
      <div class="item-name">
        Blackcatcard Верифицированный Аккаунт
      </div>
      <div class="item-price-text">
        $59.00
      </div>
      <div class="item-description">
        Тут лежит описание: <br> <br>

        Чистый аккаунт <br>
        Полностью верифицирован <br>
        Доступные страны – Бельгия / Болгария / Венгрия / Германия / Греция / Испания / Италия / Латвия / Литва / Нидерланды / Польша / Португалия / Румыния / Словакия / Финляндия / Франция / Чехия / Эстония <br>
        Выпущена дебетовая карта <br>
        Гарантия 14 дней на замену, в случае невалидности аккаунта
      </div>

      <div class="item-description">
        Комплект:
        <ul>
          <li>Данные для доступа к аккаунту</li>
          <li>Данные для доступа к привязанному E-mail</li>
          <li>Данные для доступа к виртуальному номеру телефона</li>
          <li>Данные дебетовой карты, сканы карты</li>
          <li>Полные данные холдера, сканы документов привязанных к аккаунту</li>
          <li>Мануал по использованию аккаунта</li>
        </ul>

      </div>

      <div class="item-action">
        Страна аккаунта
        
        <div class="cart-country">
          <select id="soflow">
            <!-- This method is nice because it doesn't require extra div tags, but it also doesn't retain the style across all browsers. -->
            <option>Венгрия</option>
            <option>Австралия</option>
            <option>Другие страны</option>
          </select>

          <button class="to-cart-btn"> В корзину </button>
      </div>

      </div>
    </div>
  </div>
</div>

<div class="section-items">
  <div class="container-items">
    <div class="category-header">
      Похожие товары
    </div>

    <div class="show-case">
      <div class="item-card">
        <div class="show-case-item">
          <img class="show-case-img" src="{% static './assets/img/binance-300x300.jpg' %}" alt="">
          <div class="show-case-category">
            КРИПТО ПЛАТФОРМЫ
          </div>
          <div class="show-case-item-name">
            Binance <br> Верифицированный Аккаунт
          </div>
          <div class="item-price">
            $35.00
          </div>
        </div>
      </div>

      <div class="item-card">
        <div class="show-case-item">
          <img class="show-case-img" src="{% static './assets/img/binance-300x300.jpg' %}" alt="">
          <div class="show-case-category">
            КРИПТО ПЛАТФОРМЫ
          </div>
          <div class="show-case-item-name">
            Binance <br> Верифицированный Аккаунт
          </div>
          <div class="item-price">
            $35.00
          </div>
        </div>
      </div>

      <div class="item-card">
        <div class="show-case-item">
          <img class="show-case-img" src="{% static './assets/img/binance-300x300.jpg' %}" alt="">
          <div class="show-case-category">
            КРИПТО ПЛАТФОРМЫ
          </div>
          <div class="show-case-item-name">
            Binance <br> Верифицированный Аккаунт
          </div>
          <div class="item-price">
            $35.00
          </div>
        </div>
      </div>

      <div class="item-card">
        <div class="show-case-item">
          <img class="show-case-img" src="{% static './assets/img/binance-300x300.jpg' %}" alt="">
          <div class="show-case-category">
            КРИПТО ПЛАТФОРМЫ
          </div>
          <div class="show-case-item-name">
            Binance <br> Верифицированный Аккаунт
          </div>
          <div class="item-price">
            $35.00
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script src="{% static './assets/js/main.js' %}"></script>
{% endblock %}