{% extends 'core/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/showcase.css' %}"> 
<link rel="stylesheet" href="{% static 'assets/css/item-card.css' %}"> 
{% endblock %}

{% block content %}

<div class="section-items">
    <div class="container-items">
      <div class="category-header">
        {{itemname}}
      </div>
      <div class="show-case">
  
        <div class="item-card">
          <div class="show-case-item">
            <img class="show-case-img" src="{% static './assets/img/binance-300x300.jpg' %}" alt="">
            <div class="show-case-category">
                {{itemname}}
            </div>
            <div class="show-case-item-name">
              <a href="{% url 'core:item' %}">Binance <br> Верифицированный Аккаунт</a>
            </div>
            <div class="item-price">
              $35.00
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
{% endblock %}