{% extends 'core/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/showcase.css' %}"> 
<link rel="stylesheet" href="{% static 'assets/css/item-card.css' %}"> 
{% endblock %}

{% block content %}

<div class="section-items">
    <div class="container-items">
      <div class="category-header">
        {{category.title}}
      </div>
      <div class="show-case">

        {% for product in products %}

        <div class="item-card">
          <div class="show-case-item">
            <img class="show-case-img" src="{{ product.image.url }}" alt="">
            <div class="show-case-category">
                {{category.title}}
            </div>
            <div class="show-case-item-name">
              <a style="all: unset;" href="{% url 'core:item' pid=product.pid %}"> {{product.title}} </a>
            </div>
            <div class="item-price">
              {{product.price}}
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>
  
{% endblock %}